$breakpoint-tablet: 1280px;
$breakpoint-lap: 1550px;
$breakpoint-lg-phone: 1000px;
$breakpoint-phone: 900px;

@media (max-width: $breakpoint-tablet) {
  .mainText {
    width: 485px;
  }
}

@media (max-width: $breakpoint-lg-phone) {
  .sidebar {
    width: 0px;
  }
}

// @media (min-width: $breakpoint-lap) {
//   .questions {
//     width: 1422px;
//   }
// }

// @media (max-width: $breakpoint-tablet) {
//   .sidebar {
//     width: 0px;
//   }
// }
