<div class="flex flex-col">
  <div class="flex flex-row">
    <div class="w-24 h-full max-sm:w-0"></div>
    <div class="flex flex-row pt-5 bg-[#F6F6F6] flex-1">
      <div class="flex flex-col flex-wrap justify-center py-10 pl-10 w-11/12">
        <p class="mainText text-2xl font-semibold max-sm:text-lg">
          Explore, be curious
        </p>
        <p class="mainText text-lg max-sm:text-sm">
          Discover stories, thinking and expertise from writers on any topic.
        </p>
        <div class="flex flex-row pt-5">
          <div
            class="flex flex-row justify-start items-center py-1 px-3 bg-[#f8f8ff] border-2 border-black rounded-md w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M11 17h2v-4h4v-2h-4V7h-2v4H7v2h4Zm-6 4q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Z"
              />
            </svg>
            <div class="pl-3">Post your Question</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar w-64 h-full justify-end right-0 max-lg:w-0"></div>
  </div>

  <div class="flex flex-row">
    <div class="w-24 h-full max-sm:w-0"></div>
    <div
      class="questions flex flex-1 flex-col justify-center items-center gap-y-10 py-10"
    >
      <div class="cursor-pointer w-full" (click)="onClick()">
        <app-question></app-question>
      </div>
      <div class="w-full cursor-pointer" *ngFor="let item of questionList">
        <app-question
          [date]="item.problem.createdAt"
          [category]="item.category"
          [description]="item.problem.description"
          [username]="
            item.username != null
              ? item.username.length == 0
                ? 'Anonymous'
                : item.username
              : 'Anonymous'
          "
          [question]="item.problem.question"
          [problemImg]="item.problem.problemImg"
          [userProfile]="
            item.userProfileImg != null
              ? item.userProfileImg.length == 0
                ? '../../assets/images/user.png'
                : item.userProfileImg
              : '../../assets/images/user.png'
          "
        ></app-question>
      </div>
    </div>
    <div class="sidebar w-64 h-full justify-end right-0 max-lg:w-0"></div>
  </div>
  <div class="flex p-5 self-center">&#169; core_dumped</div>
</div>

<!-- 
  <div class="w-24 h-full max-sm:w-0"></div>
  <div class="sidebar w-64 h-full justify-end right-0 max-md:w-0"></div> -->
