input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"] {
  color: transparent;
}

.formGrid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4);
}

@media not all and (min-width: 460px) {
  input {
    margin: 0;
    width: 97%;
    margin-right: 8px;
  }
  input[type="file"] {
    width: 200px;
    height: 200px;
  }
  .image-sizer {
    width: 200px;
    height: 200px;
  }
}

@media not all and (min-width: 480px) {
  .formGrid {
    grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(4);
  }
}
