<div class="flex flex-col">
  <div class="flex flex-row">
    <div class="w-24 h-full max-sm:w-0"></div>
    <div class="flex flex-row pt-5 bg-[#abd1c6] flex-1">
      <div class="flex flex-col flex-wrap justify-center py-10 pl-10 w-11/12">
        <p
          class="mainText text-2xl text-[#001e1d] font-semibold max-sm:text-lg"
        >
          Explore, be curious
        </p>
        <p class="mainText text-lg text-[#0f3433] max-sm:text-sm">
          Discover stories, thinking and expertise from writers on any topic.
        </p>
        <div
          class="flex flex-row pt-5 cursor-pointer"
          (click)="showQuesInput($event)"
        >
          <div
            class="flex flex-row justify-start items-center py-1 px-3 bg-[#004643] rounded-md w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path
                fill="#fffffe"
                d="M11 17h2v-4h4v-2h-4V7h-2v4H7v2h4Zm-6 4q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Z"
              />
            </svg>
            <div class="pl-3 text-[#fffffe]">Post your Question</div>
          </div>
        </div>
        <div *ngIf="isShown">
          <div class="bg-[#004643] my-8 p-4 rounded-lg">
            <form
              class="grid grid-cols-3 grid-rows-4 mb-6"
              (ngSubmit)="submitForm($event)"
              [formGroup]="questionForm"
            >
              <label class="py-2 font-semibold text-[#fffffe]">Question</label>
              <input
                type="text"
                formControlName="question"
                class="col-span-2 w-full max-lg:mt-0 max-lg:p-1 rounded-lg mt-2 p-2 bg-[#f6f6f6] focus:outline-[#edc8b8] mb-4 max-lg:mb-4 text-xl"
              />

              <label class="py-2 font-semibold text-[#fffffe]"
                >Description</label
              >
              <input
                type="text"
                formControlName="description"
                class="col-span-2 w-full max-lg:mt-0 max-lg:p-1 rounded-lg mt-2 p-2 bg-[#f6f6f6] focus:outline-[#edc8b8] mb-4 max-lg:mb-4 text-xl"
              />

              <label class="py-2 font-semibold text-[#fffffe]">Image</label>
              <div
                class="row-span-2 col-span-2 ml-2 flex items-center gap-6 max-md:flex-col max-md:items-start"
              >
                <div class="grid w-40 h-40 relative image-sizer">
                  <input
                    type="file"
                    id="profileImg"
                    accept="image/x-png,image/jpeg"
                    title="Choose a file (Recommended)"
                    (change)="insertImg($event)"
                    class="absolute w-40 h-40 cursor-pointer image-sizer"
                  />
                  <div
                    class="w-40 h-40 flex items-center justify-center rounded-lg image-sizer"
                  >
                    <img
                      *ngIf="questionImage.length === 0"
                      src="../../assets/images/upload.png"
                      alt="upload"
                      class="w-40 h-40"
                    />
                    <img
                      *ngIf="questionImage.length !== 0"
                      [src]="questionImage"
                      alt="profileImg"
                      class="w-[100px] h-[100px] rounded-lg image-sizer object-cover"
                    />
                  </div>
                </div>
                <div
                  *ngIf="questionImage.length === 0"
                  class="max-md:w-25 max-md:text-center text-red-600"
                >
                  Choose a file
                </div>
              </div>
            </form>
            <div class="flex flex-row items-center justify-center">
              <button
                (click)="submitForm($event)"
                class="flex flex-row bg-[#fffffe] items-center justify-center w-[90px] my-5 rounded-md"
              >
                <div class="text-lg text-[#0f3433] font-semibold py-2 mx-4">
                  Submit
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar w-64 h-full justify-end right-0 max-lg:w-0"></div>
  </div>

  <div class="flex flex-row">
    <div class="w-24 h-full max-sm:w-0"></div>
    <div
      class="questions flex flex-1 flex-col justify-center items-center gap-y-10 py-10"
    >
      <!-- <div class="cursor-pointer w-full" (click)="onClick()">
        <app-question></app-question>
      </div> -->
      <div
        class="w-full cursor-pointer"
        *ngFor="let item of questionList; let i = index"
        (click)="onClick(item, i)"
      >
        <app-question
          [date]="item.problem.createdAt"
          [category]="item.category"
          [description]="item.problem.description"
          [username]="
            item.username != null
              ? item.username.length == 0
                ? 'Anonymous'
                : item.username
              : 'Anonymous'
          "
          [question]="item.problem.question"
          [problemImg]="item.problem.problemImg"
          [userProfile]="
            item.userProfileImg != null
              ? item.userProfileImg.length == 0
                ? '../../assets/images/user.png'
                : item.userProfileImg
              : '../../assets/images/user.png'
          "
        ></app-question>
      </div>
      <div class="flex p-5 self-center">&#169; core_dumped</div>
    </div>
    <div class="sidebar w-64 h-full justify-end right-0 max-lg:w-0"></div>
  </div>
</div>

<!-- 
  <div class="w-24 h-full max-sm:w-0"></div>
  <div class="sidebar w-64 h-full justify-end right-0 max-md:w-0"></div> -->
