<div class="flex flex-col">
  <div
    class="h-48 flex flex-col flex-wrap justify-center 2xl:pl-64 max-2xl:pl-64 max-xl:pl-64 max-lg:pl-40 max-md:pl-44 max-sm:pl-20 pl-20 pr-5 bg-[#F6F6F6]"
  >
    <p class="text-2xl font-semibold">Explore, be curious</p>
    <p class="mainText text-lg">
      Discover stories, thinking and expertise from writers on any topic.
    </p>
  </div>
  <div class="flex flex-row">
    <div class="w-24 h-full max-sm:w-0">im here</div>
    <div
      class="questions flex flex-1 flex-col justify-center items-center gap-y-10 py-10"
    >
      <app-question></app-question>
      <app-question></app-question>
      <app-question></app-question>
      <app-question></app-question>
    </div>
    <div class="sidebar w-64 h-full justify-end right-0 max-md:w-0">
      here im
    </div>
  </div>
  <div class="flex p-5 self-center">&#169; core_dumped</div>
</div>
