<div>
  <div class="flex flex-row gap-2 items-end">
    <div class="font-bold text-2xl mb-1">Discussion</div>
    <button (click)="isOpen = !isOpen" class="font-extrabold">
      <mat-icon fontIcon="add_circle_outline" style="color: #136afa"></mat-icon>
    </button>
  </div>
  <div>
    <form
      [formGroup]="submitForm"
      (ngSubmit)="onSubmit($event)"
      onsubmit="event.preventDefault()"
    >
      <div *ngIf="isOpen" class="flex gap-2 items-center justify-center">
        <input
          class="w-full flex p-3 bg-[#f8f8ff] border-2 border-black rounded-md"
          type="text"
          placeholder="Type your Reply"
          formControlName="ip"
        />
        <button (click)="onSubmit($event)">
          <mat-icon
            fontIcon="send"
            *ngIf="submitTrue == 1"
            style="width: 32px"
          ></mat-icon>
          <div class="bg-white">
            <svg
              *ngIf="submitTrue == 0"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 33 33"
            >
              <rect width="2.8" height="12" x="1" y="6" fill="currentColor">
                <animate
                  attributeName="y"
                  begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="6;1;6"
                />
                <animate
                  attributeName="height"
                  begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="12;22;12"
                />
              </rect>
              <rect width="2.8" height="12" x="5.8" y="6" fill="currentColor">
                <animate
                  attributeName="y"
                  begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="6;1;6"
                />
                <animate
                  attributeName="height"
                  begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="12;22;12"
                />
              </rect>
              <rect width="2.8" height="12" x="10.6" y="6" fill="currentColor">
                <animate
                  id="svgSpinnersBarsScaleMiddle0"
                  attributeName="y"
                  begin="0;svgSpinnersBarsScaleMiddle1.end-0.1s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="6;1;6"
                />
                <animate
                  attributeName="height"
                  begin="0;svgSpinnersBarsScaleMiddle1.end-0.1s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="12;22;12"
                />
              </rect>
              <rect width="2.8" height="12" x="15.4" y="6" fill="currentColor">
                <animate
                  attributeName="y"
                  begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="6;1;6"
                />
                <animate
                  attributeName="height"
                  begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="12;22;12"
                />
              </rect>
              <rect width="2.8" height="12" x="20.2" y="6" fill="currentColor">
                <animate
                  id="svgSpinnersBarsScaleMiddle1"
                  attributeName="y"
                  begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="6;1;6"
                />
                <animate
                  attributeName="height"
                  begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
                  calcMode="spline"
                  dur="0.6s"
                  keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                  values="12;22;12"
                />
              </rect>
            </svg>
          </div>
        </button>
      </div>
    </form>
    <div>
      <div
        *ngIf="problemDetails[0] && problemDetails[0].replyMain[0].reply"
        class="flex flex-col gap-4 bg-[#f6f6f6] border-2 border-[#136afa] justify-center rounded-2xl drop-shadow-lg p-4 mt-4"
      >
        <svg
          *ngIf="loadTrue == 1"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 33 33"
        >
          <rect width="2.8" height="12" x="1" y="6" fill="currentColor">
            <animate
              attributeName="y"
              begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="6;1;6"
            />
            <animate
              attributeName="height"
              begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="12;22;12"
            />
          </rect>
          <rect width="2.8" height="12" x="5.8" y="6" fill="currentColor">
            <animate
              attributeName="y"
              begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="6;1;6"
            />
            <animate
              attributeName="height"
              begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="12;22;12"
            />
          </rect>
          <rect width="2.8" height="12" x="10.6" y="6" fill="currentColor">
            <animate
              id="svgSpinnersBarsScaleMiddle0"
              attributeName="y"
              begin="0;svgSpinnersBarsScaleMiddle1.end-0.1s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="6;1;6"
            />
            <animate
              attributeName="height"
              begin="0;svgSpinnersBarsScaleMiddle1.end-0.1s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="12;22;12"
            />
          </rect>
          <rect width="2.8" height="12" x="15.4" y="6" fill="currentColor">
            <animate
              attributeName="y"
              begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="6;1;6"
            />
            <animate
              attributeName="height"
              begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="12;22;12"
            />
          </rect>
          <rect width="2.8" height="12" x="20.2" y="6" fill="currentColor">
            <animate
              id="svgSpinnersBarsScaleMiddle1"
              attributeName="y"
              begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="6;1;6"
            />
            <animate
              attributeName="height"
              begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
              calcMode="spline"
              dur="0.6s"
              keySplines=".14,.73,.34,1;.65,.26,.82,.45"
              values="12;22;12"
            />
          </rect>
        </svg>
        <div *ngFor="let item of problemDetails[0].replyMain">
          <div class="flex flex-row items-center gap-2">
            <div
              *ngIf="item.user.profileImg != '' && item.user.profileImg != null"
            >
              <img
                [src]="item.user.profileImg"
                class="h-20 w-20 rounded-full object-cover max-sm:h-8 max-sm:w-10"
              />
            </div>
            <div
              *ngIf="item.user.profileImg == '' || item.user.profileImg == null"
            >
              <img
                [src]="defaultUrl"
                class="h-20 w-20 rounded-full object-cover max-sm:h-8 max-sm:w-10"
              />
            </div>
            <div class="flex flex-col w-full">
              <div class="flex flex-row items-center justify-between">
                <div
                  class="font-extrabold text-xl"
                  *ngIf="item.user.name != null || item.user.name != ''"
                >
                  {{ item.user.name }}
                </div>

                <div class="text-xl text-gray-500">
                  {{ item.reply.createdAt | date : "mediumDate" }}
                </div>
              </div>
              <div
                class="font-extrabold text-xl"
                *ngIf="item.user.name == null || item.user.name == ''"
              >
                Anonymous
              </div>

              <div class="text-xl">
                {{ item.reply.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
