<div
  class="flex h-full justify-center items-center max-sm:items-start max-lg:items-start bg-[#f08382]"
>
  <form
    [formGroup]="submitFormLogin"
    (ngSubmit)="onSubmit($event)"
    onsubmit="event.preventDefault()"
    class="lg:shadow-2xl max-w-[500px] w-full mx-auto bg-[#f6f6f6] bg-opacity-70 backdrop-blur-md drop-shadow-lg p-8 px-8 rounded-lg max-lg:bg-transparent max-sm:bg-transparent max-lg:px-4 max-lg:p-3"
  >
    <div
      class="text-6xl font-bold mb-8 text-[#f08382] max-lg:text-4xl max-lg:text-[#f6f6f6]"
    >
      Sign In
    </div>
    <div>
      <label class="flex flex-col py-2 font-semibold">User Name</label>
      <input
        formControlName="n"
        type="text"
        class="w-full max-lg:mt-0 max-lg:p-1 rounded-lg mt-2 p-2 bg-gray-200 focus:outline-[#f08382] mb-8 max-lg:mb-4 text-xl"
      />
    </div>

    <div>
      <label class="flex flex-col py-2 font-semibold">Password</label>
      <input
        formControlName="p"
        type="password"
        class="w-full max-lg:mt-0 max-lg:p-1 rounded-lg mt-2 p-2 bg-gray-200 focus:outline-[#f08382] mb-8 max-lg:mb-4 text-xl"
      />
    </div>
    <div class="flex gap-4">
      <button
        (click)="onSubmit($event)"
        class="w-1/2 max-lg:py-1 mt-8 py-3 bg-[#f08382] rounded-lg text-[#F6F6F6] font-semibold text-1xl max-lg:bg-[#f6f6f6] max-lg:text-[#f08382]"
      >
        <div class="flex flex-row items-center justify-center gap-2">
          <div *ngIf="res_flag == 0">Sign In</div>

          <svg
            *ngIf="res_flag == 1"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 22 22"
          >
            <rect width="2.8" height="12" x="1" y="6" fill="#ffffff">
              <animate
                attributeName="y"
                begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="6;1;6"
              />
              <animate
                attributeName="height"
                begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="12;22;12"
              />
            </rect>
            <rect width="2.8" height="12" x="5.8" y="6" fill="currentColor">
              <animate
                attributeName="y"
                begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="6;1;6"
              />
              <animate
                attributeName="height"
                begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="12;22;12"
              />
            </rect>
            <rect width="2.8" height="12" x="10.6" y="6" fill="currentColor">
              <animate
                id="svgSpinnersBarsScaleMiddle0"
                attributeName="y"
                begin="0;svgSpinnersBarsScaleMiddle1.end-0.1s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="6;1;6"
              />
              <animate
                attributeName="height"
                begin="0;svgSpinnersBarsScaleMiddle1.end-0.1s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="12;22;12"
              />
            </rect>
            <rect width="2.8" height="12" x="15.4" y="6" fill="currentColor">
              <animate
                attributeName="y"
                begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="6;1;6"
              />
              <animate
                attributeName="height"
                begin="svgSpinnersBarsScaleMiddle0.begin+0.2s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="12;22;12"
              />
            </rect>
            <rect width="2.8" height="12" x="20.2" y="6" fill="currentColor">
              <animate
                id="svgSpinnersBarsScaleMiddle1"
                attributeName="y"
                begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="6;1;6"
              />
              <animate
                attributeName="height"
                begin="svgSpinnersBarsScaleMiddle0.begin+0.4s"
                calcMode="spline"
                dur="0.6s"
                keySplines=".14,.73,.34,1;.65,.26,.82,.45"
                values="12;22;12"
              />
            </rect>
          </svg>
        </div>
      </button>

      <button
        (click)="btnClick()"
        class="w-1/2 mt-8 py-3 bg-[#F6F6F6] outline outline-2 outline-[#f08382] rounded-lg text-[#f08382] font-semibold text-1xl"
      >
        Sign Up
      </button>
    </div>
  </form>
</div>
