<div class="w-auto m-4">
  <input
    (input)="getInputValue($event)"
    class="w-full max-sm:mt-20 flex p-3 bg-[#f8f8ff] border-2 border-black rounded-md"
    type="text"
    placeholder="Type your question"
  />
</div>
<div class="relative z-10">
  <div
    *ngIf="res.length != 0"
    class="absolute bg-[#f25f4c] text-[#f6f6f6] font-semibold backdrop-filter backdrop-blur-md bg-opacity-100 right-0 left-0 ml-3 mr-3 p-4 rounded-md"
  >
    <div *ngFor="let item of res">
      <div *ngIf="item.label == 'User'">
        <div>
          <app-usercard
            [url]="item.userImage"
            [username]="item.username"
            [userdesc]="item.userdesc"
            [tech]="item.technology"
          ></app-usercard>
        </div>
      </div>
    </div>
  </div>
</div>
