<div class="flex flex-col items-center justify-center min-h-screen py-2">
  <div
    class="flex flex-col items-center justify-center w-full flex-1 px-20 text-center"
  >
    <div class="bg-[#F6F6F6] shadow-2xl max-lg:shadow-none max-lg:bg-white flex max-w-6xl rounded-2xl">
      <div class="w-1/2 p-10 max-lg:w-full max-lg:p-0">
        <div class="text-[#136afa] font-bold text-4xl mb-4">
          Tell us more about you!
        </div>
        <form class="flex flex-col" onsubmit="event.preventDefault()">
          <div class="flex flex-col justify-center items-center">
            <label for="profileImg">
              <img
                [src]="url"
                
                class=" imgProfile rounded-full border-4 border-[#136afa] border-solid p-4"
              />
            </label>

            <input
              type="file"
              id="profileImg"
              (change)="uploadFile($event)"
              class="hidden"
            />
            <label
              for="profileImg"
              class="w-1/2 max-lg:py-1 mt-8 py-3 bg-[#136afa] rounded-lg text-[#F6F6F6] font-semibold text-1xl text-center cursor-pointer"
            >
              Upload Image
            </label>
          </div>
          <hr class="border-gray-500 mt-5" />
          <label
            class="text-[#136afa] text-xl font-semibold mt-5 text-left mb-2"
            >Description</label
          >
          <textarea
            id="message"
            rows="4"
            class="block p-2.5 w-full text-sm rounded-lg resize-none"
          ></textarea>
          <hr class="border-gray-500 mt-5" />
          <label
            for="technologies"
            class="text-left text-[#136afa] mt-5 mb-2 text-xl font-semibold"
            >Technologies</label
          >
          <div class="flex flex-col">
            <div class="flex gap-1 items-center">
              <input
                type="text"
                (keydown.enter)="addRecommendation($event)"
                [formControl]="recommendationControl"
                class="flex-1 border-2 outline-slate-300 focus:outline-[#344155AA] rounded-lg py-2 px-2"
              />
              <div
                (click)="addRecommendation($event)"
                class="flex items-center mr-2 glass-effect p-2 rounded-lg"
              >
                <button
                  class="font-semibold text-xl bg-[#F6F6F6] outline outline-2 outline-[#136afa] rounded-lg px-3 py-1"
                >
                  >
                </button>
              </div>
            </div>
            <div class="flex gap-2 flex-wrap m-2">
              <div
                class="bg-[#136afa] px-5 py-2 rounded-3xl text-[#F6F6F6] cursor-pointer"
                *ngFor="let item of technology; let i = index"
                [attr.data-index]="i"
                (click)="clearRecommendation(i)"
              >
                <p>{{ item }}</p>
              </div>
            </div>
          </div>
          <button
            class="mt-8 mb-5 py-3 bg-[#F6F6F6] outline outline-2 outline-[#136afa] rounded-lg text-[#136afa] font-semibold text-1xl"
          >
            Submit
          </button>
        </form>
      </div>
      <div class="w-1/2 p-5 lg:block hidden">
        <img
          src="../../assets/images/pattern.png"
          class="object-cover h-full rounded-2xl lg:block hidden"
        />
      </div>
    </div>
  </div>
</div>
<!-- 635px - 1050px error -->
