<div
  class="mainContainer flex flex-col bg-[#f8f8ff] px-10 py-5 rounded-lg shadow-md gap-y-8"
>
  <div class="flex flex-row justify-start items-center gap-x-4">
    <div class="rounded-full bg-[#171717] w-10 h-10"></div>
    <div>Anne Lee</div>
    <div class="rounded-full bg-[#171717] w-1 h-1"></div>
    <div>Technology</div>
    <div class="rounded-full bg-[#171717] w-1 h-1"></div>
    <div>Nov 1, 2022</div>
  </div>
  <div
    class="flex flex-row gap-x-5 justify-start items-center max-sm:flex-col"
  >
    <div
      class="w-40 h-32 bg-[#7f7f7f] rounded-lg max-sm:w-52 max-sm:h-40 max-sm:mb-5"
    ></div>
    <div class="flex flex-col gap-y-3 max-lg:w-5/6 max-sm:w-full">
      <div class="text-lg max-sm:text-center">
        How designers estimate the impact of UX?
      </div>
      <div class="text-base max-sm:text-center">
        Colors often considered "shades of white" include cream, eggshell,
        ivory, Navajo white, and vanilla.
      </div>
    </div>
  </div>
</div>