@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Nexa;
  src: url("./assets/fonts/Nexa-Regular.otf");
}
@font-face {
  font-family: Exo2;
  src: url("./assets/fonts/Exo2-Regular.otf");
}
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

* {
  font-family: "Montserrat";
}
