<div class="flex">
  <app-hamburger [userProfile]="userProfile"></app-hamburger>
  <div class="w-24 h-full max-sm:w-0"></div>
  <div class="flex flex-1 flex-col">
    <div class="flex flex-col border-solid border-2 border-sky-600 m-4 p-6">
      <div class="flex flex-row items-center gap-3">
        <div class="flex flex-row items-center">
          <img [src]="userImg" class="h-20 w-20" />
          name_qposter time
        </div>
      </div>
      <div>Tech</div>
      <div class="font-bold text-2xl">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        alias quisquam non optio corrupti. Odit reprehenderit ipsam quis quasi
        magnam sapiente, eveniet tempore minima? Facere itaque debitis est quae
        iste! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum
        dolor exercitationem neque, expedita harum vero aliquam porro ad nulla
        molestias tenetur ullam, similique aut rerum nemo suscipit minima?
        Reiciendis, eaque? Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Repellat non laudantium consectetur adipisci! Rerum eveniet
        asperiores laboriosam accusantium eum id? Iusto possimus ad cum, iste
        provident tempore. Totam, impedit incidunt.
      </div>
      <div>Upvote reply</div>
    </div>
    <div>Reply from dbs</div>
  </div>
  <div class="sidebar w-64 h-full justify-end right-0 max-lg:w-0"></div>
  <app-sidebar></app-sidebar>
</div>
