<div class="flex">
  <app-hamburger [userProfile]="userProfile"></app-hamburger>
  <div class="w-24 h-full max-sm:w-0"></div>
  <div class="flex flex-1 flex-col">

      <div
        class=" m-4 flex flex-row justify-start items-center bg-[#f8f8ff] border-2 border-black rounded-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M11 17h2v-4h4v-2h-4V7h-2v4H7v2h4Zm-6 4q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Z"
          />
        </svg>
        <div class="">Post your Question</div>
      </div>
  
    <div
      class="backg flex flex-col border-solid rounded-2xl drop-shadow-lg m-4 p-6 bg-[url('https://static.vecteezy.com/system/resources/previews/002/099/717/original/mountain-beautiful-landscape-background-design-illustration-free-vector.jpg')] object-cover"
    >
      <div
        class="border-2 border-[#136afa] bg-white backdrop-filter backdrop-blur-md bg-opacity-50 rounded-2xl p-5"
      >
        <div class="flex flex-row items-center">
          <div
            class="flex items-center justify-between w-full max-lg:flex-col max-lg:items-start max-lg:gap-4"
          >
            <div class="flex flex-row items-center gap-4">
              <img [src]="userImg" class="h-20 w-20" />
              <div
                class="flex flex-row items-center gap-4 max-lg:flex-col max-lg:gap-0 max-lg:items-start"
              >
                <div class="rounded-full bg-[#171717] w-1 h-1 max-lg:w-0"></div>
                <div class="text-xl font-bold">KayEe@12</div>
                <div class="rounded-full bg-[#171717] w-1 h-1 max-lg:w-0"></div>
                <div class="text-xl max-sm:text-sm">Mar 24 2023</div>
              </div>
            </div>
            <div
              class="max-sm:text-sm text-2xl border-2 font-semibold p-2 rounded-2xl bg-[#136afa] text-[#f6f6f6]"
            >
              #Technology
            </div>
          </div>
        </div>

        <div class="font-bold text-2xl mt-5 mb-5 max-sm:text-[18px]">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          alias quisquam non optio corrupti. Odit reprehenderit ipsam quis quasi
          magnam sapiente, eveniet tempore minima? Facere itaque debitis est
          quae iste! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ipsum dolor exercitationem neque, expedita harum vero aliquam porro ad
          nulla molestias tenetur ullam, similique aut rerum nemo suscipit
          minima? Reiciendis, eaque? Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Repellat non laudantium consectetur adipisci! Rerum
          eveniet asperiores laboriosam accusantium eum id? Iusto possimus ad
          cum, iste provident tempore. Totam, impedit incidunt.
        </div>

        <div
          class="cursor-pointer mt-2 flex items-center justify-center bg-[#136afa] text-[#ffffff] w-24 font-bold p-2 rounded-2xl"
        >
          Upvote
        </div>
      </div>
    </div>

    <div>Reply from dbs</div>
  </div>
  <div class="sidebar w-64 h-full justify-end right-0 max-lg:w-0"></div>
  <app-sidebar></app-sidebar>
</div>
